<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('img/logo.png') }}" sizes="48x48">
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/font-awesome.min.css') }}" />
            <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/bootstrap.min.css') }}" />
            <link type="text/css" rel="stylesheet" media="all" href="{{ asset('css/cardlist.css') }}" />
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
